.timeline-timeline {
  gap: var(--dl-space-space-unit);
  width: 50%;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.timeline-timeline-item {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.timeline-content {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.timeline-icon-relume {
  width: 48px;
  height: 48px;
}
.timeline-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.timeline-text {
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.timeline-text1 {
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.timeline-timeline-item1 {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.timeline-content2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.timeline-icon-relume1 {
  width: 48px;
  height: 48px;
}
.timeline-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.timeline-text2 {
  color: rgba(0, 7, 65, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.timeline-text3 {
  color: rgba(0, 7, 65, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.timeline-timeline-item2 {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.timeline-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.timeline-icon-relume2 {
  width: 48px;
  height: 48px;
}
.timeline-content5 {
  gap: 16px;
  flex: 1;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.timeline-text4 {
  color: rgba(0, 7, 65, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.timeline-text5 {
  color: rgba(0, 7, 65, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.timeline-timeline-item3 {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.timeline-content6 {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timeline-icon-relume3 {
  width: 48px;
  height: 48px;
}
.timeline-content7 {
  gap: 16px;
  flex: 1;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.timeline-text6 {
  color: rgba(0, 7, 65, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.timeline-text7 {
  color: rgba(0, 7, 65, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
@media(max-width: 767px) {
  .timeline-timeline {
    width: 100%;
  }
}
